backend/.env.production/
backend/.env/
backend/node_modules/
backend/package-lock.json/
node_modules/
tropicool/node_modules/
tropicool/.npm/
tropicool/.npm/_logs
tropicool/.env
package-lock.json
tropicool/package-lock.json
