backend/.env.production/
backend/.env/
backend/node_modules/
backend/package-lock.json/
node_modules/
tropicool/tropicool/node_modules/
tropicool/.npm/
tropicool/package-lock.json/
tropicool/.npm/_logs
tropicool/.env
